<!-- dashboard -->

{% extends "base_generic.html" %}

{% block menubar %}

{% endblock %}

{% block content %}

    <div class="row col-xs-offset-1">
        <!-- Hub info -->
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <div id="hubname">Pez Maya Balance</div>
                </h1>
                <h4>
                    <div id="hubinfo">
                        <ul class="list-unstyled">
                            <li>Account: Pesos Santander 02342222341</li>
                            <li>Initial Budget: $15,000</li>
                            <li>Remaining Budget: $10,000</li>
                            <li>Total Expenses: $5,000</li>
                        </ul>
                    </div>
                </h4>
            </div>
        </div>
        <!-- /.row Hub info -->

        <!-- Form data to backend -->
        <form action="{% url 'transactions:search_transactions' %}" method="post">
            {% csrf_token %}

            <!-- Category title -->
            <div class="row">
                <div class="col-xs-8">
                    <div class="col-xs-1">
                        <label class="select-title">Enable</label>
                    </div>
                    <div class="col-xs-1">
                        <label class="select-title">Category</label>
                    </div>
                </div>
            </div>
            <!-- /.row Category/Subcategory title -->

            <!-- Category -->
            <div class="row">
                <div class="col-xs-8">
                    <div class="col-xs-1 checkbox">
                        <div class="pull-right">
                            <label class="select-title">
                                <input type="checkbox" name="" id="enableCategory" name="enableCategory">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-11 pull-left">
                        <div class="form-group">
                            <select class="form-control" id="categorySelect" name="categorySelect">
                                {% for a in category %}
                                    <option>{{ a.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row Category -->

            <!-- Subcategory title -->
            <div class="row">
                <div class="col-xs-8">
                    <div class="col-xs-1 col-xs-offset-1">
                        <label class="select-title">Subcategory</label>
                    </div>
                </div>
            </div>
            <!-- /.row Subcategory title -->

            <!-- Subcategory -->
            <div class="row">
                <div class="col-xs-8">
                    <div class="col-xs-1 checkbox">
                        <div class="pull-right">
                            <label class="select-title">
                                <input type="checkbox" name="enableSubcategory" id="enableSubcategory">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-11 pull-left">
                        <div class="form-group">
                            <select class="form-control" id="subcategorySelect" name="subcategorySelect">
                                {% for a in subcategory %}
                                    <option>{{ a.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- /.col-xs-4 -->
                </div>
            </div>
            <!-- /.row Subcategory -->

            <!-- To - From title -->
            <div class="row">
                <div class="col-xs-8">
                    <div class="col-xs-1">
                        <label class="select-title">From</label>
                    </div>
                    <div class="col-xs-1 col-xs-offset-7">
                        <div class="pull-left">
                            <label class="select-title select-title-offset">To</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row To - From title -->

            <!-- Date data and search button -->
            <div class="row">
                <div class="col-xs-8">
                    <div class="col-xs-4">
                        <div class="form-inline">
                            <select class="form-control" id="fromMonth">
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                            <select class="form-control" id="fromYear">
                                {% for year in year_range %}
                                    <option>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="col-xs-4">
                        <hr class="horizontal-separator">
                    </div>

                    <div class="col-xs-4">
                        <div class="form-inline pull-right">
                            <select class="form-control" id="toMonth">
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                            <select class="form-control" id="toYear">
                                {% for year in year_range %}
                                    <option>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-info pull-left">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> search
                </button>
            </div>
            <!-- /.row Date data and search button -->
        </form>
        <!-- Form data to backend -->

        <!-- Transaction table -->
        <div class="row">
            <div class="col-xs-8">
                <p class="tableTitle">Bank Accounts:</p>
                <table class="table table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Code</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Comment</th>
                        <th>Amount</th>
                        <th>Balance</th>
                        <th>Edit</th>
                    </tr>

                    <!-- For to fill info about each account -->
                    {% for a in transactions %}
                        <tr>
                            <td>{{ a.date }}</td>
                            <td>{{ a.category.number }}</td>
                            <td>{{ a.category.name }}</td>
                            <td>{{ a.subcategory.name }}</td>
                            <td>{{ a.comment }}</td>
                            <td>{{ a.amount }}</td>
                            <td>{{ a.balance }}</td>
                            <td><a class="glyphicon glyphicon-pencil" data-toggle="modal"
                                   data-target="#modalEditTransaction" onclick="editTransaction()"></a></td>
                        </tr>
                    {% endfor %}
                    <!-- ****************************************-->

                </table>
            </div>
        </div>
        <!-- /.row Transaction table -->
    </div>
{% endblock %}
