<!-- dashboard -->

{% extends "base_generic.html" %}

{% block menubar %}

{% endblock %}

{% block content %}
    <div class="row col-xs-11">
        <div class="row" id="hubname">
            <h1>
                <div id="budgets">Budgets</div>
            </h1>
        </div>


        <div class="col-xs-6" id="leftBudget">
            <form action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-info add_field_button add-spacing">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new
                        </button>

                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-success pull-right" type="submit">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                        </button>

                    </div>

                </div>

                <div class="input_fields_wrap">
                    <div class="row add-spacing">

                        <div class="col-xs-5">
                            <select class="form-control" id="category1" name="category1">
                                {% for a in category %}
                                    <option>{{ a.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-xs-3">
                            <input type="number" id="amount1" name="amount1" class="form-control amount-offset" placeholder="Amount">
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control currency-offset" name="currency1" id="currency1">
                                {% for a in currency %}
                                    <option>{{ a.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                </div>

            </form>
        </div>
        <div class="col-xs-6" id="rightBudget">

        </div>


        aaaaa



    </div>

    <script>
        $(document).ready(function() {
            var max_fields      = 10; //maximum input boxes allowed
            var wrapper         = $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();

                x++; //text box increment
                $(wrapper).append('<div class="row" name="extra'+x+'" id="extra'+x+'">\
                        <div class="col-xs-5">\
                            <select class="form-control" id="category1" name="category1">\
                                {% for a in category %}\
                                    <option>{{ a.name }}</option>\
                                {% endfor %}\
                            </select>\
                        </div>\
                        <div class="col-xs-3">\
                            <input type="number" id="amount1" name="amount1" class="form-control amount-offset" placeholder="Amount">\
                        </div>\
                        <div class="col-xs-3">\
                            <select class="form-control currency-offset" name="currency1" id="currency1">\
                                {% for a in currency %}\
                                    <option>{{ a.name }}</option>\
                                {% endfor %}\
                            </select>\
                        </div>\
                        <div class="col-xs-1 checkbox">\
                            <a href="#" class="remove_field" name="'+x+'"><span class="glyphicon glyphicon-remove"></span></a>\
                        </div>\
                        </div>\
                ')



            });

            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                divName = '#extra'+$(this).attr('name');
                e.preventDefault();
                $(divName).remove();
                console.log(divName);
            })
        });
    </script>

{% endblock %}
