<!-- dashboard -->

{% extends "base_generic.html" %}

{% block menubar %}

{% endblock %}

{% block content %}
    <div class="row col-xs-11">
        <div class="row" id="hubname">
            <h1>
                <div id="budgets">Budgets</div>
            </h1>
        </div>


        <div class="col-xs-6" id="leftBudget">
            <form action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-info add_field_button add-spacing">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new
                        </button>

                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-success pull-right" type="submit">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                        </button>

                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class='input-group date datepick'>
                                <input type='text' class="form-control" id="newBudgetFromDate" name="newBudgetFromDate" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-2">
                        <hr class="horizontal-separator">
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class='input-group date datepick'>
                                <input type='text' class="form-control" id="newBudgetToDate" name="newBudgetToDate" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="input_fields_wrap">
                    <div class="row add-spacing">

                        <div class="col-xs-5">
                            <select class="form-control" id="category1" name="category1">
                                {% for a in category %}
                                    <option>{{ a.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-xs-3">
                            <input type="number" id="amount1" name="amount1" class="form-control amount-offset" placeholder="Amount">
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control currency-offset" name="currency1" id="currency1">
                                {% for a in currency %}
                                    <option>{{ a.contraction }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                </div>

            </form>
        </div>
        <div class="col-xs-6" id="rightBudget">
            <div class="row">
                <div class="col-xs-5">
                    <div class="form-group">
                        <div class='input-group date datepick'>
                            <input type='text' class="form-control" id="fromDate" name="fromDate" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                        </div>
                    </div>
                </div>


                <div class="col-xs-2">
                    <hr class="horizontal-separator">
                </div>

                <div class="col-xs-5">
                    <div class="form-group">
                        <div class='input-group date datepick'>
                            <input type='text' class="form-control" id="toDate" name="toDate" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

            </div>

        </div>




    </div>



{% endblock %}
