<!-- dashboard -->

{% extends "base_generic.html" %}

{% block menubar %}

{% endblock %}

{% block content %}
    <div class="row col-xs-11">
        <div class="row" id="hubname">
            <h1>
                <div class="budgets">Budgets</div>
            </h1>
        </div>


        <div class="col-xs-6" id="leftBudget">
            <form action="{% url 'budgets:create_budget_variable' %}" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-info add_field_button_variable add-spacing">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new
                        </button>

                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-success pull-right" type="submit" name="budgetSave" id="budgetSave">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                        </button>

                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert" id="dateError" name="dateError" hidden="true">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Error:</strong> Initial date is greater than end date.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class='input-group date datepick'>
                                <input type='text' class="form-control" id="newBudgetFromDate" name="newBudgetFromDate" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-2">
                        <hr class="horizontal-separator">
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class='input-group date datepick'>
                                <input type='text' class="form-control" id="newBudgetToDate" name="newBudgetToDate" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-offset-8 col-xs-4">
                        <label class=" checkbox-label-offset">First Week</label>
                    </div>
                </div>

                <div class="input_fields_wrap">
                    <div class="row add-spacing">

                        <div class="col-xs-4">
                            <select class="form-control" id="form-0-category" name="form-0-category">
                                {% for a in category %}
                                    <option>{{ a.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-xs-3">
                            <input type="number" id="form-0-amount" name="form-0-amount" class="form-control amount-offset" placeholder="Amount" required>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control currency-offset" name="form-0-currency" id="form-0-currency">
                                {% for a in currency %}
                                    <option>{{ a.contraction }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-1">
                            <div class="checkbox checkbox-offset">
                                <input type="checkbox" name="form-0-type" id="form-0-type" value="false">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-xs-6" id="rightBudget">
            <form action="search_budget_variable" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class='input-group date datepick'>
                                <input type='text' class="form-control" id="fromDate" name="fromDate" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-2">
                        <hr class="horizontal-separator">
                    </div>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class='input-group date datepick'>
                                <input type='text' class="form-control" id="toDate" name="toDate" readonly/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-info pull-left">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> search
                        </button>
                    </div>
                </div>
            </form>

            <div class="budgets budgets_wrap">
                {% for a in currency %}
                    <div class="row">
                        <h3>{{ a.name }}</h3>
                    </div>
                    {% for b in category %}
                        <div class="row">
                            <div class="col-xs-8">
                                <h4>{{ b.name }} amount spent: <label> 5400</label></h4>
                            </div>

                            <div class="col-xs-4">
                                <div class="col-xs-1 checkbox">
                                    <a href="#" class="toggle_sub" name="{{ a.id }}{{ b.number }}">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        {% for c in b.subcategory_set.all %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul name="{{ a.id }}{{ b.number }}sub" id="{{ a.id }}{{ b.number }}sub" class="toggle_sub">
                                        <li><h5>{{ c.name }}: <label> 5400</label></h5></li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}

                    {% endfor %}
                {% endfor %}
            </div>

        </div>




    </div>



{% endblock %}
